<div class="row-fluid">
	<div class="span3">
		<div class="well sidebar-nav">
			<ul class="nav nav-list">
				<li class="nav-header">
					Altenativa menyval
				</li>
				<li>
					<%= link_to("Lägg till ett företag", {:controller => "suppliers", :action => "new" }) %>
				</li>
				<li>
					<%= link_to("Lägg till ett företag", {:controller => "categories", :action => "new" }) %>
				</li>
			</ul>
		</div><!--/.well -->
	</div>
	<div class="span9">
	<table class="table">  
        <thead>  
          <tr>  
            <th>Företagsnamn</th>  

          </tr>  
        </thead>  
        <tbody>  
          <tr> 
		<% @suppliers.each do |s|%>
          <td><%= s.name %></td>
         <td><%= s.inspect %></td>
	 <% end %> 
	 
        </tbody>  
      </table>
      	</div>  
</div>