<h1>Ändra en kategori</h1>

<%= form_for @category do |f|%>
	<div class="text_field">
		<p>
		<%= f.label "Kategori" %>
		<%=f.text_field :categoryName%>
		</p>
		<p>
		<%= f.submit "Lägg till en kategori"%>
		</p>
	</div>
<%end%>
